<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Exercitation et ullamco Lorem duis culpa ex exercitation eiusmod aliquip consectetur culpa adipisicing esse labore. Sunt ut do dolor proident enim sunt fugiat nostrud eiusmod in. Consectetur in ea et esse laboris labore irure minim exercitation do magna veniam. Irure minim esse quis nulla quis in mollit mollit dolor exercitation laborum minim incididunt commodo. Do officia proident consectetur elit mollit duis non pariatur anim mollit consectetur est eiusmod.
  </p>
</section>
